/* global imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body styles global */
body {
	font-family: 'Poppins', sans-serif;
}

/* main container styles */
.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

/* header logo styles */
.header_logo {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

/* navigation bar styles */
.navigation_bar {
	background-color: #f0db4f;
	padding: 20px;
	margin: 20px 0 20px 0;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation_menu {
	display: flex;
	gap: 20px;
	align-items: center;
}

.navigation_menu ul,
.navigation_menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation_menu li {
	text-decoration: none;
	cursor: pointer;
}

/* main section styles */
.main_section {
	height: 100vh;
	border: 2px dashed #f0db4f;
	padding: 10px;
	border-radius: 10px;
}

/* menu list styles */
.menu_list {
	display: flex;
	gap: 10px;
}

.icon_title {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 0 10px 0;
}

/* fruits list styles */
.fruits_section {
	width: 50%;
	padding: 20px;
	background-color: #ea6c46;
	color: white;
	border-radius: 10px;
}
.fruits_list {
	display: flex;
	gap: 10px;
	align-items: center;
}

.fruits_list ul,
.fruits_list li {
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

/* fish section list */
#fish_section {
	width: 50%;
	padding: 20px;
	background-color: #ea6c46;
	color: white;
	border-radius: 10px;
}
#fish_list {
	display: flex;
	gap: 10px;
	align-items: center;
}

#fish_list ul,
#fish_list li {
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

/* button styles */
.generic_button {
	background-color: #ea6c46;
}

/* footer styles */
.footer_bar {
	background-color: #f0db4f;
	padding: 20px;
	border-radius: 10px;
	margin: 20px 0 20px 0;
}
